.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  /*border: 1px dotted black;*/
  background-color: rgba(229,255,204, 0.1);
  box-shadow: 0px 30px 40px rgba(0,0,0,.4);
}
th {
  text-align: left;
}

body {
  background-image: url('http://static.tumblr.com/2873c7f1eb6f792e5fce1036561e562d/nbkdac9/9WMn4uugh/tumblr_static_7ixmbre2hvwock0gkg0gwowwo.jpg');
  background-height: 100%;
  background-width: 100%;
  background-image: center;
  background-repeat: no-repeat;
  margin: 40px;
  color: white;
  text-align: center;
  font-family: "Courier New";}

#layout {
   margin: 10px;
  width: 100px;
}

input[type="submit"]{
  text-decoration: none;
  color:white;
  background-color: rgba(256, 256, 256, 0.0);
}

input[type="submit"]:hover{
  background-color: rgba(256, 256, 256, 0.2);

}

a {
  text-decoration: none;
  color:white;
}

a:hover {
  background-color: rgba(256, 256, 256, 0.2);
}



