<div class="container"><br>
  <h1>Welcome <%= @user.name %></h1>
</div>

<div class="container"><br>
  <h3>Current Stories</h3><br>
  <% @stories.each do |story| %>
  <em><a href="/stories/<%= story.id %>">
  <%= story.title %> by <%= @users.find(story.user_id).name %></a></em> <br>
  <% end %>

  <br><br>
  <div class="button"><a href="/stories/new">Add New Story</a></div><br><br>
</div>



