<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<div class="container" id="layout"><br>
<!-- <div class="button"><a href="/stories">Stories</a></div> -->
<div class="button"><a href="/">Home</a></div>
<div class="button"><a href="/logout">Log Out</a></div>
</div>
  <%= yield %>
</body>
</html>
