<div class="container">
  <h1>Write the next segment!</h1><br><br>
  <form action=<%="/story/#{@story.id}/segment/#{@parent_id}/new"%> method="post">
    <br><br><br><br>
    <textarea rows="4" cols="50" name="body" placeholder="What happens next?"></textarea><br><br><br><br>
    <input type="submit" value="Submit">
  </form>
</div>