<form name="new_story" action="/stories/new" method="post">
  <input type="text" name="title" placeholder="Title"><br><br>
  <textarea rows="4" cols="50" name="summary" placeholder="Enter the summary of the story"></textarea><br><br>
  <input type="submit" value="Submit">
</form>
