<div class="container"><br><br>
  <h1>Make a New Story</h1><br><br>
<form name="new_story" action="/stories/new" method="post">
  <input type="text" name="title" placeholder="Title"><br><br><br><br>
  <textarea rows="4" cols="50" name="summary" placeholder="Summary"></textarea><br><br><br><br>
  <input type="submit" value="Submit">
</form>
</div>
