<div class="container">
  <div id =<%= "#{@segment.id}" %>>
    <script>
      var segment = <%= @segment.to_json %>;
      $("#".concat(segment.id)).text( segment.body );
    </script>
  </div>
</div>

<% if @segment.branches.first %>
  <% @segment = @segment.branches.first %>
  <%= erb :testing %>
<% end %>