<div class="container">
  <a href=""><div class="left">{</div></a>
  <div class="center" id=<%= "#{@segment.id}" %>>
    <script>
      var segment = <%= @segment.to_json %>;
      $("#".concat(segment.id)).text( segment.body );
    </script>
  </div>
  <a href=""><div class="right">}</div></a>
</div>

<% if @segment.branches.first %>
  <% @segment = @segment.branches.first %>
  <%= erb :testing %>
<% end %>