<div class="container">
  <a href="/json/" onclick="location.href=this.href+all_segments[all_segments.indexOf(segment)].id - 1+'/1';return false;"><div class="left">{</div></a>
  <div class="center" id=<%= "#{@segment.id}" %>>
    <%= @segment.body %>
  </div>
  <a href="/json/" onclick="location.href=this.href+'2'+'/1';return false;"><div class="right">}</div></a>
</div>