<div class="container">
  <div href="" class="left change_branch">{</div></a>
  <div class="center" id=<%= "#{@segment.id}" %>>
    <%= @segment.body %>
  </div>
  <div href="" class="right change_branch">}</div></a>
</div>